
<div class="row">
    <div class="col-md-1 nb">
      <div class="side">
          
        <button type="button" class="btn btn-light run">Run</button>
        <div style="position: relative; top: 100px; left: 10px;">
        <a href="#"><i class="fas fa-bolt fa-lg"></i></a>
        <a href="#"><i class="fas fa-comment-alt fa-lg"></i></a>
        <a href="#"><i class="fas fa-archive fa-lg"></i></a>
        <a href="#"><i class="fas fa-cog fa-lg"></i></a>
      </div> 
    </div>
    </div>
    <div class="col-md-8 nb">
      
        <div class="container m-3">
            <!-- <button type="button" class="btn btn-light date">{{this.date| date : timezone}} <i class="fa fa-calendar" aria-hidden="true"></i></button> -->
      <h4>Hello, Max 👋</h4>
      <p class="text-secondary">Here is your daily statistics</p>
            <div class="row">
                <div class="col-md-4">
                    <div class="card shadow bxn">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="p-3">
                                <h6 style="color: rgb(202, 84, 55);">Heart  <span class="icn"><i class="fa fa-heart"></i></span></h6>
                                <h5 style="font-size: 30px; color: #000;">119  <span class="icnn">bpm</span></h5>
                            </div>
                            </div> 
                        
                        <div class="col-md-4">
                            <div class="box">
                                <div class="track">
                                    <p class="text-center">82%</p>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                
              
                </div>
                <div class="col-md-4">
                    <div class="card shadow bxn">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="p-3">
                                <h6 style="color: rgb(55, 202, 141);">Running  <span class="icn"><i class='fas fa-running'></i></span></h6>
                                <h5 style="font-size: 30px; color: #000;">3043  <span class="icnn">m</span></h5>
                             </div>
                            </div>
                       
                        <div class="col-md-4">
                            <div class="box">
                                <div class="trackk">
                                    <p class="text-center">39%</p>
                                </div>
                            </div>
                        </div>    
                        </div>
                    </div>
                   

                </div>
                <div class="col-md-4">
                    <div class="card shadow bxn">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="p-3">
                                <h6 style="color: rgb(202, 143, 55);">Calories  <span class="icn"><i class="fas fa-fire-alt"></i></span></h6>
                                <h5 style="font-size: 30px; color: #000;">301  <span class="icnn">kcal</span></h5>
                             </div>
                            </div> 
                       
                        <div class="col-md-4">
                            <div class="box">
                                <div class="trackkk">
                                    <p class="text-center">18%</p>
                                </div>
                            </div>
                        </div>    
                        </div>
                    </div>
                  

                </div>
                <div class="col-md-12 mt-3">
                    <div class="card shadow p-2">
                        <div class="row">
                            <div class="col-md-8">
                                <h5>Activity</h5>

                                <p>Aerobics</p>
                                <div class="container">
                                  <div class="skills html"></div>
                                </div>
                                
                                <p>Pilates</p>
                                <div class="container">
                                  <div class="skills css"></div>
                                </div>
                                
                                <p>Box</p>
                                <div class="container">
                                  <div class="skills js"></div>
                                </div>
                                
                                <p>Card shadowio</p>
                                <div class="container">
                                  <div class="skills php"></div>
                                </div>                            </div>
                            <div class="col-md-4">
                                <div class="roz">
                                    <h6 class="fg">You done today's goals!</h6>
                                    
                                        <h6 class="boz">100%</h6>
                                    
                                </div>
                                
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-md-12 mt-3">
                    <div class="mapp">
                        <div class="sar">
                            <p>Running</p>
                            <div class="row">
                                <div class="col-md-6">
                                    <h6>6.43 km</h6>
                                    <p>Distance</p>

                                </div>
                                <div class="col-md-6">
                                    <h6>7.51 min</h6>
                                    <p>Ride Time</p>
                                    
                                </div>
                            </div>
                        </div>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d2965.0824050173574!2d-93.63905729999999!3d41.998507000000004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sWebFilings%2C+University+Boulevard%2C+Ames%2C+IA!5e0!3m2!1sen!2sus!4v1390839289319" width="100%" height="200" frameborder="0" style="border:0; border-radius: 20px;"></iframe>

                    </div>
                </div>
        
              </div>
        </div>
   
  
    </div>
    <div class="col-md-3">
        <div class="container mt-3">
            <div class="row">
                <div class="col-md-6">
                    <button type="button" class="btn btn-light"><span style="color: rgb(13, 77, 173);"><i class="fas fa-bell"></i></span></button> <sup><span class="button__badge" style="color: orange; font-weight: bolder;">●</span></sup>
                    <button type="button" class="btn btn-light ml-3"><span style="color: rgb(13, 77, 173);"><i class="fas fa-comment-alt"></i></span></button> 
                </div>
                <div class="col-md-6">
                 <img src="assets/haris-jamal.png" class="user">
                <h6 class="mkl">Max Miles</h6>
                </div>


                <div class="col-md-12 mt-5">
                    <span class="float-right" style="color: rgb(196, 196, 196);"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                    <h6>Today</h6>
                </div>

                <div class="col-md-12 mt-3">
                    <div class="card shadow slick">
                        <div class="card shadow p-2 rox" style="  border-left-color: rgb(236, 207, 76); border-width:3px;
                        ">
                        <div class="row">
                                <div class="col-md-6">
                                    
                                        <p>Aerobics</p>
                                        <p style="font-size: 10px; color: #aaaaaa; margin-top: -15px;">Violena aerobic club</p>
                                   
                                </div>
                                <div class="col-md-6">
                                    <span class="clk"><i class="fa fa-clock"></i></span>

                                    <div class="mr">
                                        <p class="text-bold" style="color: rgb(51, 70, 153); font-weight: 500;">08:30</p>
                                        <p class="text-secondary" style="margin-top: -10px;">09:30</p>
                                    </div>
                                       
                                        
                                    </div>
                                </div>
                                    
            
                        </div>
                            
                        </div>
                        

                    </div>

    
                    <div class="col-md-12 mt-2">
                            <div class="card shadow p-2 roxx" style="  border-left-color: rgb(76, 140, 236); border-width:3px;
                            ">
                            <div class="row">
                                    <div class="col-md-6">
                                        
                                            <p>Pilates</p>
                                            <p style="font-size: 10px; color: #aaaaaa; margin-top: -15px;">Lady fit</p>
                                       
                                    </div>
                                    <div class="col-md-6">
                                        <span class="clkk"><i class="fa fa-clock"></i></span>

                                        <div class="mrr">
                                            <p class="text-bold" style="color: rgb(51, 70, 153); font-weight: 500;">09:30</p>
                                            <p class="text-secondary" style="margin-top: -10px;">10:30</p>
                                        </div>

                                           
                                            
                                        </div>
                                    </div>
                                        
                
                            </div>
                                
                                                 
    
                        </div>

        
                        <div class="col-md-12 mt-2">
                                <div class="card shadow p-2 roxx" style="  border-left-color: rgb(190, 118, 22); border-width:3px;
                                ">
                                <div class="row">
                                        <div class="col-md-6">
                                            
                                                <p>Box</p>
                                                <p style="font-size: 10px; color: #aaaaaa; margin-top: -15px;">Sports club</p>
                                           
                                        </div>
                                        <div class="col-md-6">
                                            <span class="clkk"><i class="fa fa-clock"></i></span>

                                            <div class="mrr">
                                                <p class="text-bold" style="color: rgb(51, 70, 153); font-weight: 500;">12:30</p>
                                                <p class="text-secondary" style="margin-top: -10px;">13:30</p>
                                            </div>

                                               
                                                
                                            </div>
                                        </div>
                                            
                    
                                </div>
                                    
                               
                                
        
                            </div>



                            <div class="col-md-12 mt-5">
                                <span class="float-right" style="color: rgb(196, 196, 196);"><i class="fa fa-search" aria-hidden="true"></i></span>
                                <h6>Top Trainer</h6>
                            </div>


                            <div class="col-md-12 hx mt-3">
                                <div class="row">
                                    <div class="col-md-6">
                                        <img src="assets/haris-jamal1.jpeg" class="userlist"><sup><span class="button__badge float-left" style="color: rgb(49, 153, 93); font-weight: bolder; position: relative; top: 5px;">●</span></sup>
                                         <h6 class="nme">Max Miles</h6>
                                         <p class="title">Fitness</p>
                                    </div>
                                    <div class="col-md-2">
                                        ⭐
                                        3.5

                                    </div>
                                    <div class="col-md-4">
                                        <div class="share">

                                            <!-- twitter -->
                                            <a class="twitter" href="#"><i class="fab fa-twitter fa-xs"></i></a>
                                          

                                            <!-- facebook -->
                                            <a class="facebook" href="#"><i class="fab fa-facebook-f fa-xs"></i></a>
                                          
                                            
                                    
                                          </div>
                                    </div>
                                </div>
                            </div>

                            

                            <div class="col-md-12 hx">
                                <div class="row">
                                    <div class="col-md-6">
                                        <img src="assets/haris-jamal2.jpeg" class="userlist">
                                         <h6 class="nme">Max Miles</h6>
                                         <p class="title">Running</p>
                                    </div>
                                    <div class="col-md-2">
                                        ⭐
                                        3.5

                                    </div>
                                    <div class="col-md-4">
                                        <div class="share">

                                            <!-- twitter -->
                                            <a class="twitter" href="#"><i class="fab fa-twitter fa-xs"></i></a>
                                          

                                            <!-- facebook -->
                                            <a class="facebook" href="#"><i class="fab fa-facebook-f fa-xs"></i></a>
                                          
                                            
                                    
                                          </div>
                                    </div>
                                </div>
                            </div>
                            

                            <div class="col-md-12 hx">
                                <div class="row">
                                    <div class="col-md-6">
                                        <img src="assets/haris-jamal3.jpeg" class="userlist">
                                         <h6 class="nme">Max Miles</h6>
                                         <p class="title">Aerobic</p>
                                    </div>
                                    <div class="col-md-2">
                                        ⭐
                                        3.5

                                    </div>
                                    <div class="col-md-4">
                                        <div class="share">

                                            <!-- twitter -->
                                            <a class="twitter" href="#"><i class="fab fa-twitter fa-xs"></i></a>
                                          

                                            <!-- facebook -->
                                            <a class="facebook" href="#"><i class="fab fa-facebook-f fa-xs"></i></a>
                                          
                                            
                                    
                                          </div>
                                    </div>
                                </div>
                            </div>
                            

                            <div class="col-md-12 mt-2">
                                <div class="row">
                                    <div class="col-md-6">
                                        <img src="assets/haris-jamal4.jpeg" class="userlist">
                                         <h6 class="nme">Max Miles</h6>
                                         <p class="title">Box</p>
                                    </div>
                                    <div class="col-md-2">
                                        ⭐
                                        3.5

                                    </div>
                                    <div class="col-md-4">
                                        <div class="share">

                                            <!-- twitter -->
                                            <a class="twitter" href="#"><i class="fab fa-twitter fa-xs"></i></a>
                                          

                                            <!-- facebook -->
                                            <a class="facebook" href="#"><i class="fab fa-facebook-f fa-xs"></i></a>
                                          
                                            
                                    
                                          </div>
                                    </div>
                                </div>
                            </div>
                </div>
            </div>
        </div>
       
      
    </div>
